BattleTank/Content/StarterContent/Textures/T_Rock_Slate_N.uasset
BattleTank/Content/StarterContent/Textures/T_Rock_Slate_D.uasset
BattleTank/Content/StarterContent/Textures/T_Ground_Gravel_N.uasset
BattleTank/Content/StarterContent/Textures/T_Ground_Gravel_D.uasset
BattleTank/Content/StarterContent/Textures/T_Ground_Grass_N.uasset
BattleTank/Content/StarterContent/Textures/T_Ground_Grass_D.uasset
